body {
        font-family: 'Mulish', sans-serif;
        margin: 10px;
        font-size: 22px;
      }




h2 {
    text-align: center;
    color: #005f99;
    margin-top: 1.2rem;
}

li {
    background: #e6f7ff;
    margin: 0.5rem 0;
    padding: 0.6rem 1rem;
    border-left: 5px solid #007acc;
    border-radius: 5px;
    list-style-type: none;
}

.footer {
position: fixed;
bottom: 0;
left: 0;
width: 100%;
background-color: white;
color: black;
display:flex;
justify-content: space-between;
}